@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    font-family: 'Helvetica Neue', Calibri, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html, body{
    
    font-size: 3vh; /* default font-size = 1.0rem */
    background-color: #222;
    color: #d4d4d4;
    
}
h1{
    
    padding-top: 100px;
    color: #eee;
    text-shadow: 2px 2px 2px #000, -2px -2px 2px gold;  
    
    text-align: center;
   
    font-size: 80px;
   
}
h3{
    
    color: #eee;
    padding: 1em;
    
}
p{
    
    margin: 1.60em;

}
nav a, nav a:link, nav a:visited{
    color: gold;
    text-decoration: none;

}
nav a:hover, a:active{
    color: #fff;
    
}

nav ul{
  margin: auto; 

}
nav li{
float: left;
padding: 10px;
width: 20%;
text-align: center;
list-style: none; 
font-size: 25px; 
    
}
#wrapper{
    width: 930px;
    margin: auto;
    background-color: #444;

}
#masthead{
    background-image: url(http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg);
border-bottom: 12px solid #666;
    background-size: cover;
    height: 260px;
    
}
#main{
    
   clear: both;
border-top: 0.5em solid #666;
font-size: 1.15rem;
}
#footer{
    background-color: #333;
        color: #999;

}
#footer p{
    font-size: 0.80rem;
    padding: 2em 0em;

}
#footer a{
    color: gold;
}